.login{
  color:#227F5E !important;
  background-color: #e4e2e0;
  
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  a{
    color: #227F5E;
    font-weight: 600;
    transition: all 0.3s;


    &:hover{
        opacity: 0.8;
    }
  }
};