.box{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 400px;
    max-width: 80%;
    margin: 10px 0px 10px 0px;

    label{
        color: #e4e2e0;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    input{
        height: 40px;
        width: 100%;
        min-width: 300px;
        border: none;
        padding: 5px 10px;
        color: #227F5E;
        border-radius: 3px;
        outline: none;
    }

}