@use '../../../src/components/styles/mixins'
@use '../../styles/variables'

body
    background-color: variables.$bg-color

.app-container-services
    &-bg-image
        width: 12rem
        height: 21.75rem
        position: absolute
        right: 0%
        overflow: hidden
        bottom: 0%
        @include mixins.mobile
            display: none
