@use '../../../src/components/styles/mixins'
@use '../../styles/variables'

.app-container 
    background-color: variables.$bg-color
    background-image: url('../../assets/servicesBcg.png')
    background-repeat: no-repeat
    background-size: cover
    border-bottom: 1px solid variables.$primary-color
    height: 100vh
    padding-top: 3.5rem
