@use '../../../src/components/styles/mixins'
@use '../../styles/variables'

body
    background-color: variables.$bg-color

.app-container 
    background-image: url('../../assets/servicesBcg.png')
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    padding-top: 3.5rem
