.HeaderContainer
  height: 80px
  background: #227F5E
  display: flex
  align-items: center
  column-gap: 2rem
  justify-content: flex-end
  padding-inline: 1.25rem
  position: sticky
  top: 0
  overflow: visible
