@use "../../styles/variables"

.main
  display: flex
  justify-content: space-between
  align-items: center
  flex: 1
  flex-wrap: wrap
  border-bottom: 1px solid variables.$primary-color
  padding-inline: 2rem
  padding-block: 1rem
  gap: 2rem
  height: 100vh

  @media (max-width: 480px)
    flex-direction: column-reverse
    justify-content: center
    align-items: center
    padding: 10% 5%
    height: auto

.section_right
  display: flex
  flex: 1
  justify-content: center
  align-items: center
  width: 100%

.divider
  width: 2px
  height: 521px
  background-color: #227F5E
  @media (max-width: 1100px)
    display: none

.section_left
  color: #000
  flex: 1
  display: flex
  flex-direction: column
  align-items: center

.section_left_text > p
  text-align: justify
  font-size: 16px

.section_left_text
  max-width: 31rem

.image
  height: auto
  max-width: 21.75rem
  width: 100%

  @media (max-width: 480px)
    margin-top: 2rem
    width: 80%

.section_title 
  font-size: 2rem
  font-weight: 600
  margin-bottom: 1rem
  text-align: center
  color: #227F5E