@use "../../styles/variables";

.main {
  flex: 1;
  display: flex;
  padding: 5.3rem;
  background-color: variables.$bg-color;
  border-bottom: 1px solid variables.$primary-color;
}

@media screen and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 2.5rem;
  }
}

.image {
  object-fit: cover;
  object-position: center;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.right_home_section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left_home_section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left_home_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  align-items: center;
}

.heading {
  color: #227f5e;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-block: 1.75rem;
}

.footer {
  width: 100%;
  margin-inline: 40px;
  max-width: 523px;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.paragraph {
  font-size: 1.25rem;
  color: #227f5e;
  margin-bottom: 3.125rem;
}

.button_and_animals_container {
  width: fit-content;
}

.animals_icons_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3.4375rem;
}
