.main {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.section_right {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.section_left {
  color: #000;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_left_text > h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #227f5e;
}

.section_left_text > p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000;
  margin-bottom: 2rem;
}

.section_left_text a {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
}

.section_left_text {
  max-width: 31rem;
}

.section_left_text button {
  background-color: #227f5e;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.section_left_text button a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 1rem;
  }

  .section_left {
    order: 2;
    margin-top: 7rem;
    width: 70%;
  }

  .section_right {
    order: 1;
    padding: 0;
    width: 70%;
    height: 40%;
    margin-bottom: 20%;
    margin-top: -30%;
  }

  .section_left_text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section_left_text > h1 {
    font-size: 1.25rem;
  }

  .section_left_text > p {
    font-size: 1rem;
  }

  .section_left_text button {
    font-size: 0.75rem;
    align-self: center;
  }

  .section_left_text button a {
    font-size: 0.75rem;
  }

  .section_left_text > h1 {
    margin-bottom: 1rem;
  }
}
