.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
  background-color: #227F5E;
}

.navbar{
  display: flex;
  font-size: 1.5rem;
  gap: 2.875rem;
}
.Logo{
  text-transform: uppercase;
}
.nav_link{
  padding-inline: .2em;
}
.active{
  color: #80FB93;
  border-bottom: #fff 1px solid;
}
