@use '../../styles/mixins'
@use '../../styles/variables'
    
body
    background-image: variables.$bg-image
    background-size: 100vw
    background-repeat: no-repeat
    max-width: variables.$container-width
    background-repeat: no-repeat

.register-h1
    color: variables.$primary-color
    font-family: sans-serif
    font-style: normal
    font-weight: 600
    font-size: 30px
    line-height: 36px
    width: 11.25rem
    height: 2.25rem
    margin-left: 4.25rem
    margin-top: 1.8125rem

.container
    color: variables.$primary-color
    width: 100%
    padding: 1.5rem
   
    &-input
        position: relative
        @include mixins.inputs

    &-form
        top: 5px
        @include mixins.flex
        right: 50%
        height: 32.875rem
        width: 15.625rem

